.listContainer{
  width: 50%;
}

.dashboardContainer{
    display: flex;
    flex-direction: row;

}
li {
    list-style: none;
}
.title-button {
    margin-top: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
  }